body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    background-image: url(images/bgimage.jpg);
}

.margin-top {
    margin-top: 50px;
}