body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    height: 250vh;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main,
section,
footer {
    width: 100%;
}

main {
    height: 200vh;
}

section {
    height: 100vh;
}

footer {
    height: 42vh;
}

@media only screen and (max-width: 340px) {
    .img-fluid {
        margin: 0px;
        padding: 0px;
    }
}

.margin-bottom {
    margin-bottom: 20px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}