body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main, section, footer {
    width: 100%;
}

main {
    height: 200vh;
}

section {
    height: 100vh;
}

footer {
    height: 42vh;
}

.white-star {
    top: 100px;
    left: 40px;
    width: 116px;
    height: 156px;
}

.yellow-star {
    bottom: 100px;
    right: 35px;
    width: 116px;
    height: 156px;
}

.white-star, .yellow-star {
    display: block;
    position: absolute;
    z-index: -1;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .h3, .h2 {
        font-size: 80%;
    }
}

.margin-bottom {
    margin-bottom: 20px;
}



