@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --res-firefox: clamp(1rem, 2.3vw, 1.7rem);
    --red-chrome: clamp(1rem, 2.0vw, 1.0rem)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--res-firefox);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    padding: 15px;
}

nav { /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.nav-link a {
    padding: 7px;
    margin: 0px 5px;
    text-decoration: none;
    color: inherit;
}

.nav-link a:hover {
    text-decoration: underline 3px;
    text-decoration-skip-ink: auto;
}

.logo {
    height: 50px;
}

.banner {
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 1000px;
}

.owner-picture, .coder-picture {
    height: 256px;
    border-radius: 50%;
    padding: 0 40px;
}

.about-owner {
    display: flex;
    align-items: center;
}

.owner-info {
    border-left: 3px solid #8a36b6;
    padding: 0 20px;
}

.owner-info p {
    text-align: left;
}

.heading-product {
    font-size: 10rem;
}

.product-card {
    height: 420px;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
}

.product-image {
    width: 480px;
    height: 320px;
    border-radius: 10px;
}

.product-description {
    padding: 0px 5px;
    font-size: 24px;
    font-weight: bold;
}

.flx-rw {
    display: flex;
    flex-direction: row;
}


.map-details {
    margin-inline: auto;
}

.map-preview {
    min-width: 700px; 
    min-height: 450px;
}
/*-------------------- REUSABLE CSS -------------*/

.flex-center {
    display: flex;
    align-items: center;
}

.img-center {
    display: block;
    margin: auto;
}

.img-fluid {
    max-width: 100%;
}

.wrapper {
    max-width: 95%;
    margin: 0 5%;
}

.container {
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.pb-100px {
    padding-bottom: 100px;
}

.bg-pink {
    background-color: #fff5f9;
    color: auto;
}

.bg-black {
    color: white;
    background-color: black;
}

.bg-white {
    color: black;
    background-color: white;
}

.bg-dark-violet {
    background-color: #8a36b6;
    color: white;
}

.bg-light-purple {
    background-color: #c39cca;
}

.bg-dark-purple {
    background-color: #d977ba;
    color: white;
}

.bg-goldenrod {
    background-color: goldenrod;
}


.flower-list {
	margin-inline: 0px;
	padding: 0px;
	background: url('flower2.gif') left center no-repeat;
    padding-left: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.gap-10px {
    gap: 10px;
}

.gap-20px {
    gap: 20px;
}

.gap-30px {
    gap: 30px;
}

.gap-40px {
    gap: 40px;
}

.pad-tb-60px {
    padding: 60px 0;
}

.pad-lr-30px {
    padding: 0 30px;
}

.text-muted {
    
}

.bold {
    font-weight: bold;
}

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 2.5rem;
}

.h3 {
    font-size: 1.5em;
}

.h4 {
    font-size: 1.25em;
}

.subheading-2 {
    font-size: 1.5rem;
}

.text-dark-violet {
    color: #8a36b6;
}

.text-light-purple {
    color: #c39cca;
}

.text-dark-purple {
    color: #d977ba;
}

.text-goldenrod {
    color: goldenrod;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

/*-------------------- MARQUEE ------------------*/
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 5%;
}

.marquee-scrolling {
    animation: marquee 10s linear infinite;
    display: inline-block;
    padding-right: 10px;
}

@keyframes marquee {
    from {
        transform: translateX(100);
    }
    to { 
        transform: translateX(-100%);
    }
}
/*-------------------- MARQUEE ------------------*/

/*-------------------- TYPING EFFECT ------------*/

.typewriter {
    display: flex;
    align-items: center;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 4px solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
    font-size: 9rem;
    color: violet;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/*-------------------- REUSABLE CSS -------------*/

#home, #about, #gallery {
    height: auto;
}

@media only screen and (max-width: 1090px) {
    .banner {
        flex-direction: column;
    }

    .heading-product {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 1780px) {
    .typewriter h1 {
        font-size: 8rem;
    }
}