@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fdccff; /* 422445 */
    background-color: #422445;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: sticky;
    top: 0px;
    align-content: center;
    background-color: #422445;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.container {
    padding-left: 0px;
    padding-right: 10px;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin: 0px 3px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.logo {
    height: 32px;
}

.banner {
    height: 93dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(city.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-img {
    width: 920px;
    max-width: 100%;
}

.tagline {
    font-size: 1.2rem;
    padding: 0 20px;
    text-align: center;
    text-shadow: 1px 0.4px #ffffff;
    font-weight: 400;
}

.sec-title {
    font-size: 2rem;
    padding: 50px 0px 0px 5px;
}

.exp-button {
    padding-top: 10px;
}

.exp-button button {
    box-shadow: 5px 5px goldenrod;
    font-weight: bold;
    padding: 5px 5vh;
}

.exp-button a {
    text-decoration: none;
    font-size: 1.2rem;
}

.introduction {
    height: 100dvh;
}

.int-content {
    display: flex;
    justify-content: center;
}

.int-text {
    background-color: #ffffff;
    box-shadow: 10px 10px rgb(255, 223, 39);
    padding: 10px;
    color: #000000;
    font-size: 1.2rem;
}

.int-img {
    height: 280px;
    margin-left: 20px;
    border-radius: 3px;
}

@media only screen and (max-height: 490px) {
    header {
        padding: 2px;
    }

    .banner {
        height: 92dvh;
    }
}

@media only screen and (max-width: 490px) {
    .exp-button {
        padding-top: 30px;
    }

    .int-content {
        flex-direction: column;
    }

    .int-img {
        margin-left: 0;
        margin-top: 20px;
        height: fit-content;
    }

    .int-text {
        box-shadow: 4px 4px rgb(255, 223, 39);
    }
}