body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main, section, footer {
    width: 100%;
}

main {
    height: 200vh;
}

section {
    height: 100vh;
}

footer {
    height: 42vh;
}

.white {
    color: white
}

.gold {
    color: gold;
}

.white-star {
    top: 100px;
    left: 40px;
    width: 116px;
    height: 156px;
}

.yellow-star {
    bottom: 100px;
    right: 35px;
    width: 116px;
    height: 156px;
}

.white-star, .yellow-star {
    display: block;
    position: absolute;
    z-index: -1;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 20px;
}

.member-icon {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.banner {
    width: 70%;
}

.map {
    width: 100%;
    height: 60%;
}

.contact-icons {
    width: 42px;
    height: 42px;
}

@media only screen and (max-width: 900px) {
    body {
        background-attachment: fixed;
    }

    .h3, .h2, .lead {
        font-size: 90%;
    }

    .banner {
        width: 100%;
    }
}


